*{
    margin: 0px;
    padding: 0px;
}

.container {
    text-align: center;
}

.heading {
    display: inline-block;
    outline: 2px solid black;
    margin: 4% 0% 4% 0%;
    width: 30%;
}

.clock {
    width: 70%;
    outline: 2px solid black;
    display: inline-block;
}

h3{
    padding: 5%;
}